<% checkout_messages = ["Great choice!", "You're going to love this!", "Excellent selection!", "A perfect pick!", "Fantastic choice!"] %>
<% fallback_message1 = "Unfortunately streaming isn't available in your region at the moment." %>
<% fallback_message2 = "Please go back and feel free to save it for later!" %>
<div class="container" data-controller="bookmark">
  <div class="content-container">
    <% if @all_streaming_providers.values.flatten.empty? %>
      <h2 class="error-headline"><%= fallback_message1 %> <br><br> <%= fallback_message2 %></h1>
      <%= image_tag("not-available.svg", alt: "error", class: "no-provider-error") %>
      <%# Save Content to Watch later when streaming is available %>

    <% else %>
      <h1 class="headline"><%= checkout_messages.sample %></h1>
      <div class="checkout-subline">Discover the<br>viewing options for <br><%= params[:result_title] %></div>
      <div class="provider-note">Please visit the page of your chosen provider to verify pricing details.</div>
    <% end %>
  </div>

<% unless @all_streaming_providers.values.flatten.empty? %>
  <% @all_streaming_providers.each do |option_type, providers| %>
    <% if providers.present? %>
      <div class="provider-category">
        <%# Custom message for 'ads' option type %>
        <% message = option_type.to_s.downcase == 'ads' ? "You can watch it with Ads here:" : "You can #{option_type.to_s.downcase} it here:" %>
        <h3 class="provider-subline"><%= message %></h3>

        <% providers.each do |provider| %>
          <% unless provider[:title].downcase.include?("netflix basic with ads".downcase) %>
            <div class="provider-card">
              <%= link_to provider[:link], target: "_blank", rel: "noopener", class: "checkout-button-streaming", data: { action: "click->bookmark#createBookmarkAndRedirect" } do %>
                <div class="provider-container-name">
                  <%= image_tag provider[:icon], alt: "#{provider[:title].split(' on ').last}", class: "provider-icon" %>
                  <div class="provider-name"><%= provider[:title].split(' on ').last %></div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <!-- Conditional message to enjoy the movie or show -->
  <div class="checkout-subline">
    <% if params[:content] == 'movie' %>
      <p>Enjoy your Movie!</p>
    <% elsif params[:content] == 'tv' %>
      <p>Enjoy your Show!</p>
    <% end %>
  </div>
<% end %>


  <input type="hidden" name="content[name]" value="<%= params[:result_title] %>" data-bookmark-target="name">
  <input type="hidden" name="content[picture]" value="<%= params[:result_picture] %>" data-bookmark-target="picture">
  <input type="hidden" name="user[id]" value="<%= current_user.id %>" data-bookmark-target="user">
  <input type="hidden" name="content[id]" value="<%= params[:id] %>" data-bookmark-target="id">
</div>
