<div class="container">
  <div class="headline-container">
    <h1 class="headline">Change your profile <br> <%= @user.first_name %></h1>
  </div>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>
        <% f.label :first_name, "First Name", class: "input-label" %>
        <%= f.input :first_name, label: "Tell us your pretty name again", required: true, autofocus: true, input_html: { autocomplete: "first_name", class: "form-control" } %>

        <% f.label :email, "Email:", class: "input-label" %>
        <%= f.input :email,label: "Give us your email", required: true, autofocus: true, class: "form-control" %>

        <button class="button-change-password" type="button" id="toggle-password-change">Change Password</button>

    </div>

    <div id="password-change-fields" style="display:none;">
      <div class="form-group">
        <% f.label :password, "Enter your new password", class: "input-label" %>
        <%= f.input :password, required: false, input_html: { autocomplete: "new-password", class: "form-control" } %>
      </div>
      <div class="form-group">
        <% f.label :password_confirmation, "Enter your password again to confirm", class: "input-label" %>
        <%= f.input :password_confirmation, required: false, input_html: { autocomplete: "new-password", class: "form-control" } %>
      </div>
      <!-- Include current_password if needed -->
    </div>


    <div class="form-group">
      <% f.label :current_password, "Enter your current password to confirm your changes:", class: "input-label" %>
      <%= f.input :current_password, required: true, input_html: { autocomplete: "current-password", class: "form-control" } %>
    </div>


    <div class="form-actions">
      <%= f.button :submit, "Update my profile", class: "button-update" %>
    </div>

    <a class="button-logout button-position" href="<%= destroy_user_session_path %>"  data-turbo-method="delete">
    Log out
    </a>

  <% end %>
  <br>
    <a  href="<%= destroy_user_session_path %>"  data-turbo-method="delete">
    Delete Profile
    </a>

    <%# <%= link_to "Delete My Account", registration_path(resource_name), method: :delete, data: { confirm: "Are you sure you want to delete your account?" } %>

</div>
