<div class="container">
  <div class="headline-container">
    <h1 class="headline">Here is what you disliked!</h1>
    <div class="cards-container">
      <% @bookmarks_disliked.each do |bookmark| %>
        <div class="card">
          <div class="card-img-container"> <!-- New container for image aspect ratio -->
            <img src="https://image.tmdb.org/t/p/w500<%= bookmark.content.picture_url %>" alt="<%= bookmark.content.name %>" class="card-img">
          </div>
          <div class="card-content">
            <h5 class="card-title"><%= bookmark.content.name %></h5>
            <div class="icon-container">
              <%= link_to bookmarks_checkout_path(id: bookmark.id, content: bookmark.content.medium, result_title: bookmark.content.name) do %>
                <img src="<%= asset_path('watch.svg') %>" alt="Watch" class="cards-icon">
              <% end %>

              <%= link_to change_status_path(bookmark) do %>
                <img src="<%= asset_path('like.svg') %>" alt="Watch" class="cards-icon">
              <% end %>

              <%= link_to remove_from_list_path(bookmark), data: { "turbo-method": :delete} do %>
                <img src="<%= asset_path('delete.svg') %>" alt="Delete" class="cards-icon">
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
