<div data-controller="recommendation">

  <%= link_to '#', class: 'content-icon', data: { action: "click->recommendation#selectMovies", recommendation_target: "image" } do %>
    <%= image_tag('movies_icon.png', alt: 'Movies') %>
  <% end %>
  <%= link_to '#', class: 'content-icon', data: { action: "click->recommendation#selectTVShows", recommendation_target: "image" } do %>
    <%= image_tag('tvshow_icon.png', alt: 'TV shows') %>
  <% end %>

  <!-- Genre Images for Movies, initially hidden -->
  <div data-recommendation-target="movieGenre" class="hidden">
    <div>
    <%= image_tag('genre_happy.png', alt: 'Happy', data: { action: "click->recommendation#loadMoviesWithGenreHappy" }) %>
    <%= image_tag('genre_dramatic.png', alt: 'Dramatic', data: { action: "click->recommendation#loadMoviesWithGenreDramatic" }) %>
    </div>
    <div>
    <%= image_tag('genre_thrilling.png', alt: 'Thrilling', data: { action: "click->recommendation#loadMoviesWithGenreThrilling" }) %>
    <%= image_tag('genre_random.png', alt: 'Random', data: { action: "click->recommendation#loadMoviesWithGenreRandom" }) %>
  </div>
  </div>

  <!-- Genre Images for TV Shows, initially hidden -->
  <div data-recommendation-target="tvShowGenre" class="hidden">
    <div>
    <%= image_tag('genre_happy.png', alt: 'Happy', data: { action: "click->recommendation#loadTVShowsWithGenreHappy" }) %>
    <%= image_tag('genre_dramatic.png', alt: 'Dramatic', data: { action: "click->recommendation#loadTVShowsWithGenreDramatic" }) %>
    </div>
    <div>
    <%= image_tag('genre_thrilling.png', alt: 'Thrilling', data: { action: "click->recommendation#loadTVShowsWithGenreThrilling" }) %>
    <%= image_tag('genre_random.png', alt: 'Random', data: { action: "click->recommendation#loadTVShowsWithGenreRandom" }) %>
  </div>
</div>
