<h1>this is the moods page</h1>
<pre><%= params.inspect %></pre>

  <% ['happy', 'dramatic'].each do |mood| %>
    <%= link_to bookmarks_path(movies: params[:movies], mood: mood) do %>
      <%= image_tag("#{mood}_icon.png", alt: "#{mood.capitalize}") %>
    <% end %>
  <% end %>
</div>

<div class="mood-group">
  <% ['thrilling', 'random'].each do |mood| %>
    <%= link_to bookmarks_path(movies: params[:movies], mood: mood) do %>
      <%= image_tag("#{mood}_icon.png", alt: "#{mood.capitalize}") %>
    <% end %>
  <% end %>
</div>
