
<div class="container">
  <div class="headline-container">
    <h1 class="headline">
    <%# ðŸŽ‰ðŸŽ‰ðŸŽ‰ðŸ¤–ðŸŽ‰ðŸŽ‰ðŸŽ‰<br> %>
    Welcome,  <%= @user.first_name %>
    <%# <br>ðŸŽ‰ðŸŽ‰ðŸŽ‰â­ðŸŽ‰ðŸŽ‰ðŸŽ‰ %>
    </h1>
  </div>

  <div class="button-position">
    <%= button_to "Profile settings", edit_user_registration_path(@user), method: :get, class: "button-profile" %>
  </div>

  <div class="button-position">
    <%= button_to "What you liked", profile_liked_list_path(@user), method: :get, class: "button-profile" %>
  </div>

  <div class="button-position">
    <%= button_to "What have you watched", profile_watched_list_path(@user), method: :get, class: "button-profile" %>
  </div>

  <div class="button-position">
    <div><%= button_to "What you did not liked", profile_discarded_list_path(@user), method: :get, class: "button-profile" %>
  </div>

</div>
