
<div class="container">
  <div class="button-position">
    <h2>Welcome,  <%= @user.first_name %></h2>
  </div>

  <div class="button-position">
    <%= button_to "Profile settings", edit_user_registration_path(@user), method: :get, class: "button-profile" %>
  </div>

  <div class="button-position">
    <%= button_to "What you liked", profile_liked_list_path(@user), method: :get, class: "button-profile" %>
  </div>

  <div class="button-position">
    <%= button_to "What have you watched", profile_watched_list_path(@user), method: :get, class: "button-profile" %>
  </div>

  <div class="button-position">
    <div><%= button_to "What you did not liked", profile_discarded_list_path(@user), method: :get, class: "button-profile" %>
  </div>

</div>
