<!DOCTYPE html>
<html>
  <head>
    <title>BingePilot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% unless controller_name == 'pages' && action_name == 'home' %>
      <%= render "shared/navbar" %>
    <% end %>
    <%= render "shared/flashes" %>

    <%= yield %>
  </body>
</html>
