<!DOCTYPE html>
<html>
  <head>
    <title>Binge Pilot</title>
    <meta name="description" content="Effortlessly unlock your next binge-worthy obsession. Swipe through tailored picks, find hidden gems, and dive into your next favorite movie or TV show with ease. Where your next watch is just a swipe away." />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#2F2C86">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= render 'shared/ios_pwa_links' %>
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
  </head>

  <body>
    <% unless controller_name == 'pages' && action_name == 'home' %>
      <%= render "shared/navbar" %>
    <% end %>
    <%= render "shared/flashes" %>

    <%= yield %>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8/hammer.min.js"></script>
</html>
